*{
    padding:0;
    margin:0;
}
body{
    padding:5px;
}
.item{
    
    min-height:50px;
    
}
.menu{
    padding:25px;
}
.menu >a{
    padding:25px;
   text-decoration: none;
} 
.logo{
   font-size: 35px;
   font-family: emoji;
}
.chia{
    display:grid;
    /* grid-template-columns:50px 1fr 1fr; */
     grid-template-columns:repeat(3, 1fr);  
   
    /* grid-auto-rows: 60px; */
     grid-auto-rows: minmax(60px, auto); 
    grid-template-areas: 
    "a a a"
    "b b b"
    "c c c";
    grid-column: 10px;
    grid-row: 10px;
    
    /* height: 100vh; */
    margin: 0 auto;
}
.item1{
    grid-area:a;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* column-gap: 5px;
     row-gap: 5px; */
     /* padding:15px; */
}
.item2{
    grid-area:b;
}
.item3{
    grid-area: c;
  
}

.actica{
    border:5px solid black;
    width:40%;
}
.actica >img{
    width:100%;
}

@media  screen and (max-width: 600px) {
    .item1{
        grid-template-columns: repeat(2,1fr);
        
    }
    .chia{ 
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "a a a"
        "b b b"
        "c c c";
       
    }
    .actica >img{
        width:100%;
    }
    .actica{
        border:5px solid black;
        width:70%;
        grid-template-columns: repeat(2,1fr);
    }

}