 *{
    margin:0;
    padding:0;
}
body{
    padding:5px;
}
.item{
    border:1px solid grey;
    min-height:50px;
    min-width:50px;
    grid-row: 19px;
}
.chia{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr ;  
    
     grid-template-rows: 700px 200px 100px; 
     /* grid-auto-rows: minmax(60px, auto);  */
    grid-template-areas: 
    "a a a"
    "b b b"
    "c c c"
    ; 
    /* grid-column: 10px; */
    grid-row: 12px;
    height: 100vh;
    margin: 0 auto;
}
.item1{
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 5px;
     row-gap: 5px;
     min-height:50px;
     /* padding:15px; */
     /* justify-content: center; */
      
     
}
.item2{
    grid-area: b;
}
.item3{
    grid-area: c;
}
.menu{
     
    /* width:100%; */
    padding:25px;
}
.logo{
    font-size: 30px;
}

.actica{
    /* border:5px solid black; */
    width:60%;
    /* margin: 20px 30px; */
    margin: 0px 40px;
}
.actica >img{
    width:100%;

}
@media  screen and (max-width: 700px) {
    .item1{
        grid-template-columns: repeat(2,1fr);
        
    }
    .actica{
        /* border:5px solid black; */
        width:90%;
        /* margin: 20px 30px; */
        
    }
    .chia{
        grid-template-columns:  1fr;
        grid-template-areas: 
        "a a a"
        "b b b"
        "c c c"
        ; 
      
    }
}
