body{
   margin: 10px;
   border: 10px solid rgb(151, 238, 151);
}
.container {
   background-color: white;
   color: rgb(34, 204, 83);
   text-align: center;
}
.title {
   font-size: 30px;
   font-weight: bold;

}
.menu {
   background-color: green;
   padding-left: 15px;
   padding:20px;
   color: white;
}
.menu >a{
   list-style: none;
   flex-direction: row; 
   padding-left: 20px;
   text-decoration: none;
   color: white;

}
.box{
   border: 1px solid olivedrab;
   height: 80px;
   padding:10px;
   background-color:  rgb(151, 238, 151);
}
.box3{
   border: 1px solid olivedrab;
   height: 80px;
   padding:10px;
   background-color:  rgb(151, 238, 151);
}
.box1{
   border: 1px solid olivedrab;
   height: 40px;
   margin-top: 5px;
   padding:10px;
   background-color:  rgb(151, 238, 151);
}
.flex {
    display: flex; 
   flex-direction: row;
    column-gap: 20px; 
}
.text {
   font-size: 20px;
  
   font-weight: bold;
} 
.cot1{
   background-color:  gray;
   padding : 10px;
}




